.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    figure {
        width: 100px;
        margin: 4px;
    }
    ul {
        display: flex;
        justify-content: space-evenly;
        list-style: none;
        width: 60%;
        font-size: 1.4rem;
        li {
            padding: 12px 40px;
            cursor: pointer;
            &:hover {
                background: #e1051b;
            }
        }
    }
}