@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-family: 'Russo One', sans-serif;
  line-height: 1.5;
  color: #f9f9f9;
}

img,
picture,
video,
iframe,
figure {
    max-width: 100%;
    width: 100%;
    display: block;
    /* opcional */
    -o-object-fit: cover;
    object-fit: cover;
    /* opcional */
    -o-object-position: center center;
    object-position: center center;
}